  .section-center {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-gap: 30px 10px;
    grid-template-columns: 1fr 1fr 1fr;
    
  }
  
  .menu-item {

   background-color: #fff;   
   width: 430px;
   height: 465px;
   border-radius: 8px;
   border-top-left-radius:8px ;
   overflow: hidden;
}
  
  .photo {
   padding: 10px ;
   margin: 5px;
   width: 420px;
   height: 240px;
   object-fit: cover;
   border-radius: 20px;
   cursor: pointer;
   transition: 0.3s;
}

.photo:hover img{
  transform: scale(1.1);
}
  
  .item-info {
    padding: 1.5rem;
  }
  
  .demo h1 {
    margin-bottom: 0.5rem;
    display: flex;
  }
  .item-info h4{
    font-size: 18px;
    font-weight: bold;
  }
  .price h4{
    font-weight: bold;
  }
    .linkStyle {
      text-decoration: none;
      color:black;
      font-weight: bold;
      border: 2px solid #74234E;
      padding: 7px 5px;
    }
  .linkStyle:hover{
    background-color: #74234E;
    color: #fff;
    border: none;
    transition: transform 0.5s;
  }

/* Animation */
  
.menu-item {
 
  animation: fadeIn 0.5s ease forwards;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.menu-item:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
